.caja-busqueda{
    background-image:url(../imagenes/img_motos/hondacbr1000r.jpg);
    background-size: cover;
    width: 500px;
    height: auto;
    margin: auto;
    color:white;
    font-family: monospace;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .caja-seleccion{
        color:wheat;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
        display:flex;
        flex-flow: wrap column;
        justify-content: flex-start;
        align-items:center;
        align-content: center;
        border-radius: 5px;
    }
    
}