.contenidoCatalogo{
    color: white;
    background-color: black;
    font-family:cursive;
    border-radius: 10%;
    text-align: center;
    height: auto;
    border: 3px orange solid;
    padding: 0%;
    margin: 0%;
}