@mixin datos($grid) {
    width: 60%;
    border: #0a0707 solid 5px;
    border-radius:15px;
    margin: 1%;    
    font-style: italic;
    text-align: center;
    background-image: linear-gradient(120deg, #5D76A9 0%, #004687 100%);
    display: flex;
    flex-flow: column wrap; 
}
.empresa{
    background-color:$color-body;
    .titulo-empresa{
        color:#ffc107;
        font-family: cursive;
        text-align: center;
        font-size: 2rem;
    }
    .quienesSomos{
        margin: 1%;
        font-family:monospace;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #fdd805;
        color: black;
        border:black dashed 2px;
        text-align: center;
    }
}



.datosEmpresa{
    height: 30%;
    margin: 1%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
        "datos1 datos2 datos3";
            .datos{
                width: 60%;
                border: #0a0707 solid 5px;
                border-radius: 10%;
                margin: 1%;    
                font-family: Impact,Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-style: italic;
                text-align: center;
                background-image: linear-gradient (120deg, #a1c4fd 0%, #c2e9fb 100%);
                display: flex;
                flex-flow: column wrap;
                .datos1{
                    @include datos(datos1);
                }
                .datos2{
                    @include datos(datos2);
                }
                .datos3{
                    @include datos(datos3);
                }
                .seccion1{
                    font-family: cursive;
                    font-size: 1em;
                    text-align: left;
                    margin: 1%;
                }
            }

}