$color-body:#393E46;
$color-titulo-empresa:whitesmoke;
$color-noticias:#00CCFF;
$widht:500px;
$color-seguimiento:white;
$color-contacto:#2C2E43;
$titulos:(
    h1: 3rem,
    h2: 2rem,
    h3: 2.5rem,
    h4: 2.1rem,
    h5: 2rem,
    h6: 2rem
);